*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: "Heebo", sans-serif;
}
.landing {
    min-height: 70vh;
    background: url(/img/background.jpg);
    background-size: cover;
    padding: 0rem 5rem;
    background-position: center;
}
.landing-about {
    min-height: 70vh;
    background: url(/img/background.jpg);
    background-size: cover;
    padding: 0rem 5rem;
    background-position: center;
}
.landing-contact {
    min-height: 70vh;
    background: url(/img/background.jpg);
    background-size: cover;
    padding: 0rem 5rem;
    background-position: center;
}
.landing-projects {
    min-height: 100vh;
    background: url(/img/sky.jpg);
    background-size: cover;
    padding: 0rem 5rem;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;

}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    
}
#logo {
    font-family: "lobster", cursive;
    font-weight: lighter;
    font-size: 2.5rem;
    color: black;
    border: rgb(230, 229, 229) 1px solid;
    padding: 0px 10px;
    border-radius: 10px;
    margin-top:  20px;
}
.big-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 3rem;
    font-family: "lobster", cursive;
    color: rgb(55, 55, 55);
}
a {
    text-decoration: none;
}

#logo:hover {
    background: rgb(66, 64, 64);
    color: white;
}