*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: "Heebo", sans-serif;
}
.landing {
    min-height: 100vh;
    background: url(/img/background.jpg);
    background-size: cover;
    padding: 0rem 5rem;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;

}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    padding-left: 10rem;
    font-size: 1.2rem;
}
#logo {
    font-family: "lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}
.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "lobster", cursive;
    color: rgb(55, 55, 55);
}